div.hadiee{
    width: 1305px;
    height: 90px;
    background-color: #007295;
    margin: 40px auto;
    border-radius: 20px;
    position: relative;
}

div.hadiee>svg{
    width: 150px;
    height: 35px;
    position: absolute;
    right: calc(50% -150px /2);
    top: 25px;
}
div.hadiee>a{
    display: block;
    text-decoration: none;
}
div.hadiee>a>div.box1{
    width: 274px;
    height: 66px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 450px;
    top: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.hadiee>a>div.box1>span{
    font-size: 13px;
    color: black;
    font-family: tiik;
    line-height: 60px;
    padding-right: 40px;
}
div.hadiee>a>div.box1>img{
    width: 144px;
    height: 62px;
    position: absolute;
    right: 130px;
    top: 2px;
}
div.hadiee>a>div.box2{
    width: 274px;
    height: 66px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 730px;
    top: 15px;
}
div.hadiee>a>div.box2>span{
    font-size: 13px;
    color: black;
    font-family: tiik;
    line-height: 60px;
    padding-right: 40px;
}
div.hadiee>a>div.box2>img{
    width: 144px;
    height: 62px;
    position: absolute;
    right: 130px;
    top: 2px;
}
div.hadiee>a>div.box3{
    width: 274px;
    height: 66px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 1010px;
    top: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.hadiee>a>div.box3>span{
    font-size: 13px;
    color: black;
    font-family: tiik;
    line-height: 60px;
    padding-right: 40px;
}
div.hadiee>a>div.box3>img{
    width: 144px;
    height: 62px;
    position: absolute;
    right: 130px;
    top: 2px;
}

