div.home{
    width: 30%;
    height: 600px;
    background-color: black;
    position: relative;
    right: calc(50% - 30% /2);
}

div.home>label[for=closee]{
    width: 50px;
    height: 50px;
    background-color: crimson;
    position: absolute;
    left: 0;
    font-size: 70px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    


}